body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 33%;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
  text-align: left;

  

}

h1 {

  margin-left: auto;
  margin-right: auto;
}

